h1 {
  font-size: 1em;
  font-family:'Garamond';
  color: black;
  text-align: center;
}
#card{
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 3%;
  width:27%;
  height:85%;
  background: white;
}
#cardBody{
  width:27%;
  height:77%;
}
#cardSpace{ /*spacing for card titles*/
  height: 3%;
  width: 27%;
}
html, body {
  background-color:black;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
p{
  text-align: center;
}

.water {
  position: relative;
  top: 8%;
  left: 62%;
  width: auto;
  height: 90%;
  z-index: 2;
}

.moon {
  position: absolute;
  top: 24%;
  left: 47.5%;
  width: auto;
  height: 14%;
  z-index: 3;
  transition: transform .2s;
}

.crawfish {
  position: absolute;
  top: 49%;
  left: 47%;
  width: auto;
  height: 17%;
  z-index: 3;
  transition: transform .2s;
}

.wolf {
  position: absolute;
  top: 40%;
  left: 39%;
  width: auto;
  height: 13%;
  z-index: 3;
  transition: transform .2s;
}

.dog {
  position: absolute;
  top: 43%;
  left: 55%;
  width: auto;
  height: 11%;
  z-index: 3;
  transition: transform .2s;
}

.moon:hover {
  transform: scale(1.25);
}

.crawfish:hover {
  transform: scale(1.25);
}

.wolf:hover {
  transform: scale(1.25);
}

.dog:hover {
  transform: scale(1.25);
}
