h1 {
  font-size: 2em;
  font-family:'Verdana', 'Helvetica', 'Sans-Serif';
  color: black;
  text-align: center;
  margin-top: 4%;
}
hr {
   width: 100%;
   height: 2px;
   border: 0 none;
   margin-right: auto;
   margin-left: auto;
   margin-top: 3%;
   margin-bottom:3%;
   background-color:#555;
}
p{
  font-size: 1em;
  font-family:'Verdana',
  color: black;
}
html, body {
  background-color:#fcfcfc;
  height: 100%;
  width: 80%;
  margin: auto;
}

img{
  width: 80%;
}
