h1 {
  font-size: 1em;
  color: black;
  text-align: center;
  font-family:Lucida Sans;
}
html, body {
  background-color:white;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
p{
  text-align: center;
  font-family: Lucida Sans;
}
hr {
  width: 95%;
  border-width: 1px;
}
